.layout {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1024px;
  margin: 50px auto;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  .tool-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    .last-modified {
      color: #bbb;
      font-size: 12px;
    }
    .download-pdf {
      color: #bbb;
      font-size: 12px;
    }
  }
}
