// 手机样式适配,在resize-mixin.ts中动态适配
.mobile-themes {
  .head .title-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    .name {
      border-bottom: 2px solid #00a982;
      padding: 10px;
      img {
        display: none;
      }
    }
    .job {
      display: block;
      padding: 10px;
    }
  }
  .head .info-container .contact .contact-link {
    display: none;
  }

  .head .info-container {
    display: flex;
    flex-direction: column;
    .info ul {
      text-align: center;
      margin-bottom: 10px;
    }
    .contact ul {
      display: flex;
      justify-content: center;
      li {
        margin-left: 10px;
      }
    }
  }

  .content .pra-pro-container {
    display: flex;
    flex-direction: column;
  }

  .skill .skill-container {
    display: flex;
    flex-direction: column;
    .content-right {
      margin-left: 0px;
    }
  }

  .layout {
    .tool-container {
      width: 100%;
    }
    .container {
      width: 100%;
    }
  }
}
